
<div class="container-fluid">
    <h1>Trang quản khách hàng</h1>
    <!--Đoạn này có 1 ô searchbox bên trái, 1 combobox bên phải  -->
    <div class="row mb-3">
      <div class="col-md-8">
        <input type="text" 
          class="form-control search-input" placeholder="Tìm đơn hàng" 
          [(ngModel)]="keyword">
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="searchOrders()">Tìm kiếm</button>
      </div>
    </div>
    <table class="table">
        <thead class="table-light">
          <tr>
            <th>User ID</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Date Of Birth</th>
            <!--
            <th>Shipping Method</th>
            <th>Shipping Address</th>
    
              <th>Shipping Date</th>
            <th>Payment Method</th>
            -->
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          @for(user of users; track user.id){
            <tr>
              <td>              
                {{ user.id }}</td>
              <td>{{ user.fullname }}</td>
              <td>{{ user.phone_number }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.date_of_birth| date }}</td>
              <!--
              <td>{{ order.shipping_method }}</td>
              <td>{{ order.shipping_address }}</td>
              
              <td>{{ order.shipping_date | date }}</td>
              <td>{{ order.payment_method }}</td>
              -->
              <!-- <td>
                <div style="display: flex; gap: 10px;">
                <button 
                  (click)="viewDetails(order)"
                      class="btn btn-primary">
                      Xem chi tiết
                </button>
                <button class="btn btn-danger" 
                  (click)="deleteOrder(order.id)"
                  >Xóa</button>                
                </div>
              </td>                         -->
            </tr>
          }          
        </tbody>
      </table>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if(currentPage > 0) {
                  <li class="page-item" >
                    <a class="page-link" 
                    (click)="onPageChange(1)">First</a>
                  </li>
                  <li class="page-item" >
                      <a class="page-link" 
                      (click)="onPageChange(currentPage - 1)"></a>
                  </li>
                }
                @for(page of visiblePages; track page) {
                  <ng-container>
                    <li class="page-item" [ngClass]="{'active': page === currentPage}">
                        <a class="page-link" (click)="onPageChange(page-1)">{{ page }}</a>
                    </li>
                  </ng-container>
                }
                
                @if(currentPage < totalPages-1) {
                  <li class="page-item">
                    <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" (click)="onPageChange(totalPages-1)">Last</a>
                  </li>
                }                
            </ul>
        </nav>
    </div>
</div>

      